#
# Enable/Disable sensors
#

menu "Enable/disable sensors"
config ST_HAL_ACCEL_ENABLED
	bool "Accelerometer sensor"
	default y
	help
	  Enable support for Accelerometer sensor.

config ST_HAL_GYRO_ENABLED
	bool "Gyroscope sensor"
	default y
	help
	  Enable support for Gyroscope sensor.

if (ST_HAL_ANDROID_VERSION != 1 && ST_HAL_ANDROID_VERSION != 2 && ST_HAL_ANDROID_VERSION != 3  && ST_HAL_ANDROID_VERSION != 4)
config ST_HAL_ADDITIONAL_INFO_ENABLED
	bool "Additional Info Sensor Support"
	default n
	help
	  Enable support for Additional Info Sensor type.
endif

endmenu # Enable/disable sensors
